.overlay {
  @include flex-column;
  justify-content: center;
  @include base-container;
  background: $overlay-background;
  position: absolute;
  opacity: 0;
  pointer-events: none;

  &--show {
    transition: all 0.5s ease;
    opacity: 1;
    pointer-events: initial;
  }

  &__accent-font {
    font-size: $font-large;
  }

  & h2 {
    margin-bottom: 10vh;
    text-align: center;
  }

  &__user-btn {
    background: $overlay-background;
    color: $black;
    border-color: $black;
    margin-bottom: 20vh;

    &:hover {
      transition: all 0.3s ease;
      background: $black;
      color: $overlay-background;
    }
  }
}
